

.cards-container {
  display: flex;
  max-width: 1200px;
  overflow-x: auto;
  margin: 100px auto;
  flex-wrap: wrap;
}

.cards-container > .card {
  flex-shrink: 0;
}


button {
  margin: 0px auto;
  display: block;
  cursor: pointer;
}
